@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
* {
  box-sizing: border-box;
}
html, body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#shop-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#0080a0;
}
h1 {
  font-family: 'Potta One', cursive;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border: 3px solid #000000;
  box-shadow: inset 0px 0px 1px 2px rgb(250 250 250 / 75%), 0px 4px 9px 1px #0000007a, 0px 1px 2px 2px black;
  border-radius: 5% / 20%;
  padding: 5px;
  text-shadow: -1px -2px 2px black, 1px 1px 1px white, -1px 2px 1px black;
}
#pizza-shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  font-size: 16px;
  padding: 25px;
  border: 3px solid #000000;
  background-color: #00000041;
  box-shadow: inset 0px 1px 5px 2px rgba(116, 116, 116, 0.753), 0px 4px 9px 1px #ffffff7a, 0px 1px 2px 2px black;
  border-radius: 5% / 1%;
  font-family: 'Potta One', cursive;
  text-shadow: 1px 1px 2px rgb(99, 99, 99);
}
#pizza-options-menu {
  background-color: antiquewhite;
  border: 2px solid black;
  box-shadow:0px 1px 2px 2px black, inset -60px 19px 130px 2px #c3c3c3a2, inset -2px -16px 130px 2px #b5b5b524;
  padding: 10px;
  padding-left: 1%;
  width: 48%;
  border-radius: 5px;
}
.menu-description {
  width: 70%;
  border-radius: 0px 5px 5px 5px;
  text-align: center;
  box-shadow: inset 1px 1px 5px black;
  color: black;
  text-shadow: 0px 0px 1px black;
  background-color: blanchedalmond;
  border: 1px solid rgba(0, 0, 0, 0.493);
  font-weight: 800;
  font-size: 18px;
  font-family: 'Cedarville Cursive', cursive;
}
.title {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  width: 30%;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border: 3px solid #000000;
  box-shadow: 
    inset 0px 0px 1px 2px rgb(250 250 250 / 75%), 
    0px 4px 9px 1px #0000007a, 
    0px 1px 2px 0px black,
    0px 6px 3px black;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  text-shadow: -1px -2px 2px black, 1px 1px 1px white, -1px 2px 1px black;
}
#pizza-shop button {
  background-color: #Fe7A15;
  border-radius: 10% / 50%;
  border: 1px solid black;
  box-shadow: 1px 0px 2px 0px black;
  font-family: 'Potta One', cursive;
  text-shadow: 0px 0px 1px black;
  padding: 5px 15px;
}
#pizza-shop #medium {
  box-shadow: 0px 0px 2px 3px black;
}
#pizza-shop button:hover {
  cursor: pointer;
  background-color: #000000;
  transition: .3s;
  box-shadow: 0px 0px 5px 1px black;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  color: white;
}
#pizza-shop button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}
#shop-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 48%;
  height: 100%;
  text-align: center;
}
#description-text {
  color: #fe7a15;
  text-shadow: 0px 0px 5px black, 1px 1px 2px rgba(0, 0, 0, 0.74);
}
#description-img {
  background-color: #673ab7;
  width: 95%;
  margin-bottom: 5%;
  height: auto;
  padding: 1%;
  border: 5px solid black;
  box-shadow: 
  inset 0px 0px 50px 2px rgb(0, 0, 0), 
  0px 4px 9px 1px #000000, 
  0px 1px 2px 0px black,
  0px 6px 12px black;
  filter: grayscale(90%)
}

#description-title {
  text-align: center;
}
.menu-name p {
  margin: 0;
}
.button-container {
  padding-top: 5px;
}
#img-container {
  width: 100%;
  background-color: rgb(250, 235, 215);
  padding: 1%;
  border: 1px solid black;
  box-shadow: 
  inset 0px 0px 50px 2px rgba(0, 0, 0, 0.397), 
  0px 4px 9px 1px #000000, 
  0px 1px 2px 0px rgba(0, 0, 0, 0.562),
  0px 6px 3px black;
}
#img-container img {
  width: 170px;
  height: 111px;
  object-fit: cover;
  border: 2px solid black;
  box-shadow: 0 0 2px 2px black;
  border-radius: 2px;
}
.items {
  font-size: 26px;
  color: rgb(0, 0, 0);
  text-shadow: 
    1px 1px 5px rgb(161, 161, 161), 
    1px -1px 1px rgb(82, 82, 82), 
    -1px 1px 1px rgb(140, 140, 140), 
    -1px -1px 1px rgb(255, 255, 255);
}
#total-popup {
  z-index: 9999;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.432);
  width: 100%;
  height: 100%;
}
#total-popup-total {
  position: absolute;
  display: flex;
  font-family: 'Potta One', cursive;
  width: 40%;
  height: 40%;
  text-align: center;
  font-size: 68px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border: 3px solid #000000;
  box-shadow: inset 0px 0px 1px 2px rgb(250 250 250 / 75%), 0px 4px 9px 1px #0000007a, 0px 1px 2px 2px black,  inset 1px 1px 10px 1px white;
  border-radius: 5% / 20%;
  padding: 5px;
  text-shadow: -1px -2px 2px black, 1px 1px 1px white, -1px 2px 1px black, 1px 1px 3px white;
}
@media only screen and (max-width: 1000px){
  #pizza-shop {
    flex-direction: column-reverse;
    height: 100%;

  }
  #pizza-options-menu { 
    min-width: 100%;
  }
  #shop-description {
    min-width: 100%;
    margin: 0px;
  }
  #total-popup-total {
    height: 50%;
    border: 20px solid rgb(255, 255, 255);
    box-shadow: inset 1px 1px 10px 1px white;
    width: 90%;
  }
  #img-container {
    display: none;
  }
}